.tittel {
  color: black;
  background-color: red;
  border-bottom: 10px solid red;
  text-align: center;
}

body {
  background: white;
  margin: 0;
}

.beskrivelse {
  text-align: center;
}

.searchicon {
  height: 50px;
  display: inline;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.searchbar {
  display: inline;
  width: 500px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
  padding-top: 50px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
}

.F {
  height: 100px;
  display: inline;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.frukt,
.grønnsaker,
.drikker,
.kjøtt {
  background-color: red;

  width: 300px;
  text-align: center;
  margin-left: 50px;
  height: 230px;
  display: inline-block;
  margin-left: 50px;
  
}

.banan {
  height: 150px;

  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.bananlesmer {
  display: block;
  align-items: center;
  margin-left: 200px;
  margin-right: auto;
  margin-top: -22px;
}

